@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.ab_text{
 font-family: 'Noto Sans', sans-serif;
 color: #494949;
}

.about_me_intro{
  margin: 5%;
  font-size: 16pt;
  text-align: center;
}

.ab_skills_header{
  margin-left: 10px;
  text-align: center;
  font-size: 18pt;
}

li{
  margin-bottom: 5px;
}

.icon_title{
  text-align: center;
  font-size: 12pt;
}

.icons{
  display: grid;
  justify-content: center;
  grid-template-areas:
  "pair_prog"
  "agile_dev"
  "test_driven_dev"
  "cont_inter";
}

.pair_prog{
  grid-area: pair_prog;
  height: 300px;
  width: 200px;
}

.test_driven_dev{
  grid-area: test_driven_dev;
  height: 300px;
  width: 200px;
}

.cont_inter{
  grid-area: cont_inter;
  height: 300px;
  width: 200px;
}

.agile_dev{
  grid-area: agile_dev;
  height: 300px;
  width: 200px;
}

@media (min-width: 1400px) {
  .about_me_intro{
    font-size: 16pt;
  }

  .my_knowledge{
    font-size: 14pt;
  }

  .ab_skills_header{
    margin-left: 10px;
    text-align: center;
    font-size: 18pt;
  }

  .icon_title{
    text-align: center;
    font-size: 16pt;
  }
}

@media (min-width: 1000px){
  .icons{
    display: grid;
    justify-content: center;
    grid-column-gap: 20%;
    grid-template-areas:
    "pair_prog agile_dev "
    "test_driven_dev cont_inter";
  }
}
