@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

.exp_text{
  color: #494949;
}

hr{
  margin-left: 1em;
  margin-right: 1em;
}

#wcroc_link{
  text-decoration: none;
  color: #663366;
}

.professional_experience_wrapper{
  margin-top: 3%;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
  "title"
  "exp_date"
  "professional_exp_text"
}

.experience_project_wrapper{
  margin-top: 10px;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
  "projectTitle"
  "exp_date"
  "projectContent_text"
  "project_img";
}

.experience_res_assist_wrapper{
  position: relative;
  display: grid;
  margin-top: 3%;
  margin-bottom: 5%;
  grid-template-areas:
  "title"
  "exp_date"
  "content_text"
}

.experience_ta_wrapper{
  position: relative;
  display: grid;
  margin-top: 3%;
  margin-bottom: 5%;
  grid-template-areas:
  "title"
  "exp_date"
  "content_text"
}

.project_img_src{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.experience_coop_wrapper{
  margin-top: 10px;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
  "title"
  "exp_date"
  "content_text"
  "coop_img";
}

.title{
  grid-area: title;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18pt;
  margin-left: 10px;
}

.content_text{
  grid-area: content_text;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14pt;
}

.professional_exp_text{
  grid-area: professional_exp_text;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14pt;
}

.coop_img{
  margin-top: 10px;
  grid-area: coop_img;
  justify-self: center;
}

.coop_img_src{
  margin-top: 10px;
}

.projectTitle{
  grid-area: projectTitle;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18pt;
  margin-left: 10px;
}

.projectContent_text{
  grid-area: projectContent_text;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14pt;
}

.project_img{
  grid-area: project_img;
  justify-self: center;
  width: 90%;
  margin-top: 20px;
  max-width: 455px;
}

.exp_date{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14pt;
  color: #494949;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  grid-area: exp_date;
  position: relative;
}

@media (min-width: 1400px) {
  .exp_date{
    grid-area: exp_date;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16pt;
    color: #494949;
    justify-self: end;
    margin-right: 10px;
    position: relative;
    align-self: end;
  }

  .projectTitle{
    grid-area: projectTitle;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20pt;
    margin-left: 10px;
  }

  .date{
    grid-area: date;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18pt;
    margin-left: 10px;
  }

  .projectContent_text{
    grid-area: projectContent_text;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16pt;
    margin-top: auto;
    margin-bottom: auto;
  }

  .experience_project_wrapper{
    margin-top: 3%;
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "projectTitle exp_date"
    "projectContent_text project_img"
    "projectContent_text project_img";
  }

  .professional_experience_wrapper{
    margin-top: 3%;
    /* margin-top: 10px; */
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
    "title exp_date"
    "professional_exp_text professional_exp_text";
  }

  .title{
    grid-area: title;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20pt;
    margin-left: 10px;
  }

  .content_text{
    grid-area: content_text;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16pt;
  }

  .professional_exp_text{
    grid-area: professional_exp_text;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16pt;
    margin-right: 40px;
  }

  .experience_coop_wrapper{
    margin-top: 3%;
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "title exp_date"
    "content_text coop_img"
    "content_text coop_img";
  }

  .experience_res_assist_wrapper{
    position: relative;
    display: grid;
    margin-top: 3%;
    margin-bottom: 5%;
    grid-template-areas:
    "title exp_date"
    "content_text content_text"
  }

  .experience_ta_wrapper{
    position: relative;
    display: grid;
    margin-top: 3%;
    margin-bottom: 5%;
    grid-template-areas:
    "title exp_date"
    "content_text content_text"
  }
}
