@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=VT323');

body{
  background-image: url("../images/my_background_4.png");
  background-repeat: repeat;
}

.wrapper{
  /* Background pattern from Toptal Subtle Patterns */
  background:
  url("../images/geom.png");
  background-repeat: repeat;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
}

#coder{
  font-family: 'VT323', monospace;
  font-size: 35px;
}

.copyright{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14pt;
  text-align: center;
  margin-bottom: 5px;
  color: #494949;
}

@media (min-width: 1200px) {
  .wrapper{
    margin-right: 20%;
    margin-left: 20%;
    height: 100%;
  }
}
